<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monoder.mymanga.mapper.MangaInfoMapper">

    <resultMap id="mangaInfoMap" type="com.monoder.mymanga.entity.vo.MangaInfoVO">
        <id column="GUID" property="guid"/>
        <result column="MANGA_NAME" property="mangaName"/>
        <result column="TRANS_NAME" property="transName"/>
        <result column="WRAPPER" property="wrapper"/>
        <result column="MANGA_PATH" property="mangaPath"/>
        <result column="REMARK" property="remark"/>
        <result column="IS_DELETED" property="isDeleted"/>
        <result column="IS_LIKED" property="isLiked"/>
        <result column="PAGE_COUNT" property="pageCount"/>
        <result column="CATEGORY_GUID" property="categoryGuid"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATOR" property="creator"/>

        <!-- 使用 association 标签关联 DicEnum_Category 表 -->
        <association property="dicEnumCategoryVO" javaType="com.monoder.mymanga.entity.vo.DicEnumCategoryVO">
            <id column="DIC_GUID" property="guid"/>
            <result column="DIC_CODE" property="categoryCode"/>
            <result column="DIC_ID" property="dicEnumID"/>
            <result column="DIC_NAME" property="dicEnumName"/>
            <result column="DIC_TRANS_NAME" property="transName"/>
            <result column="DIC_STATUS" property="status"/>
            <result column="DIC_REMARK" property="remark"/>
            <result column="DIC_CREATE_TIME" property="createTime"/>
        </association>
    </resultMap>

    <!--  增  -->
    <insert id="addMangaInfo" parameterType="com.monoder.mymanga.entity.vo.MangaInfoVO" useGeneratedKeys="true"
            keyProperty="guid">
        <selectKey keyProperty="guid" resultType="String" order="BEFORE">
            SELECT sys_guid() AS guid FROM dual
        </selectKey>
        INSERT INTO
        Manga.MANGA_INFO ( GUID, MANGA_NAME, TRANS_NAME, WRAPPER, MANGA_PATH, REMARK, IS_DELETED, IS_LIKED, PAGE_COUNT,
        CATEGORY_GUID, UPDATE_TIME, CREATE_TIME, CREATOR )
        SELECT
        #{guid},
        #{mangaName, jdbcType=VARCHAR},
        #{transName, jdbcType=VARCHAR},
        #{wrapper},
        #{mangaPath,jdbcType=CLOB},
        #{remark, jdbcType=VARCHAR},
        #{isDeleted, jdbcType=VARCHAR},
        #{isLiked, jdbcType=VARCHAR},
        #{pageCount, jdbcType=VARCHAR},
        a.guid,
        #{updateTime, jdbcType=VARCHAR},
        #{createTime, jdbcType=VARCHAR},
        #{creator, jdbcType=VARCHAR}
        FROM Manga.Dicenum_Category a
        WHERE a.dicenum_id = #{dicEnumCategoryVO.dicEnumID, jdbcType=VARCHAR}
    </insert>

    <insert id="batchAddMangaInfo" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="mangaInfoList" item="mangaInfo" separator=" ">
            INTO Manga.MANGA_INFO ( GUID, MANGA_NAME, TRANS_NAME, WRAPPER, REMARK, IS_DELETED, IS_LIKED, PAGE_COUNT,
            CATEGORY_GUID, UPDATE_TIME,
            CREATE_TIME, CREATOR )
            VALUES
            (
            sys_guid(),
            #{mangaInfo.mangaName, jdbcType=VARCHAR},
            #{mangaInfo.transName, jdbcType=VARCHAR},
            #{mangaInfo.wrapper, jdbcType=BLOB},
            #{mangaInfo.remark, jdbcType=VARCHAR},
            #{mangaInfo.isDeleted, jdbcType=NUMBER},
            #{mangaInfo.isLiked, jdbcType=NUMBER},
            #{mangaInfo.pageCount, jdbcType=NUMBER},
            #{mangaInfo.categoryGuid, jdbcType=VARCHAR},
            #{mangaInfo.updateTime, jdbcType=VARCHAR},
            #{mangaInfo.createTime, jdbcType=VARCHAR},
            #{mangaInfo.creator, jdbcType=VARCHAR}
            )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <!--  删  -->
    <delete id="batchDeleteMangaInfo" parameterType="java.util.List">
        DELETE FROM Manga.Manga_Info WHERE guid IN
        <foreach collection="guidList" item="guid" separator="," open="(" close=")">
            #{guid}
        </foreach>
    </delete>

    <!-- 查 -->
    <select id="listMangaInfo" resultMap="mangaInfoMap">
        SELECT t.guid,
               t.manga_name,
               t.trans_name,
               t.remark,
               t.is_deleted,
               t.is_liked,
               t.page_count,
               t.category_guid,
               t.update_time,
               t.create_time,
               t.creator,
               a.guid          as dic_Guid,
               a.category_code as dic_Code,
               a.dicenum_id    as dic_ID,
               a.dicenum_name  as dic_Name,
               a.trans_name    as dic_Trans_Name,
               a.status        as dic_status,
               a.remark        as dic_remark,
               a.create_time   as dic_create_time
        FROM Manga.Manga_info t
                 LEFT JOIN Manga.DicEnum_Category a
                           ON a.Category_Code = 'MANGA' AND a.Guid = t.Category_Guid
        WHERE t.is_deleted = '2'
        ORDER BY t.update_time DESC
    </select>

    <select id="getMangaInfoByGuid" resultMap="mangaInfoMap">
        SELECT t.guid,
               t.manga_name,
               t.trans_name,
               t.manga_path,
               t.remark,
               t.is_deleted,
               t.is_liked,
               t.page_count,
               t.category_guid,
               t.update_time,
               t.create_time,
               t.creator,
               a.guid          as dic_Guid,
               a.category_code as dic_Code,
               a.dicenum_id    as dic_ID,
               a.dicenum_name  as dic_Name,
               a.trans_name    as dic_Trans_Name,
               a.status        as dic_status,
               a.remark        as dic_remark,
               a.create_time   as dic_create_time
        FROM Manga.Manga_info t
                 LEFT JOIN Manga.DicEnum_Category a
                           ON a.Category_Code = 'MANGA' AND a.Guid = t.Category_Guid
        WHERE t.is_deleted = '2'
          AND t.guid = #{guid, jdbcType=VARCHAR}
    </select>

    <select id="getRowsByGuids" parameterType="java.util.List" resultType="java.lang.Integer">
        SELECT count(1) FROM Manga.Manga_Info WHERE guid IN
        <foreach collection="guidList" item="guid" separator="," open="(" close=")">
            #{guid}
        </foreach>
    </select>

    <select id="getGuidByName" resultType="String">
        SELECT guid
        FROM manga.Manga_Info t
        WHERE t.Manga_Name = #{mangaName, jdbcType=VARCHAR}
    </select>

    <select id="getWrapperByGuid" resultType="com.monoder.mymanga.entity.po.MangaInfo">
        SELECT t.guid, t.manga_name, t.wrapper
        FROM manga.manga_info t
        WHERE t.is_deleted = '2'
          AND guid = #{guid, jdbcType=VARCHAR}
    </select>


</mapper>